# ANKA OS - init.rc Servis Fragmanı (Nihai Düzeltme)
# /system/etc/init/anka_os.rc

on property:sys.boot_completed=1
    start anka_os

service anka_os /system/bin/anka_os
    class main
    user root
    group root system inet net_raw
    seclabel u:r:su:s0
    oneshot
    writepid /dev/cpuset/foreground/tasks

# Sinek çökerse veya kapanırsa 5 saniye bekle ve yeniden dirilt
on property:init.svc.anka_os=stopped
    exec_background /system/bin/sh -c "sleep 5 && start anka_os"
